<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <title>Siddharth Mishra</title>
  <link rel="icon" type="image/png" href="https://github.com/RustyGrackle.png">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Siddharth Mishra">
  <meta property="og:description" content="Hi there, nice to meet you. I'm Siddharth Mishra. Welcome to my world!">
  <meta property="og:url" content="https://siddharthmishra.dev">
  <meta property="og:image" content="https://github.com/RustyGrackle.png">
  <meta property="profile:first_name" content="Siddharth">
  <meta property="profile:last_name" content="Mishra">
  <meta name="theme-color" content="#131313">

  <link rel="stylesheet" href="static/style.css">
  <link href="static/main.css" rel="stylesheet">
</head>



<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->

<header>

  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse" style="display: inline-block; background-color: rgba(0, 0, 0, 0.5); /* Greyish, semi-transparent background */
                          color: white; /* White text color */
                          padding: 10px; /* Padding around the text */
                          border-radius: 8px; /* Rounded corners */
                          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for better separation */
                          max-width: 1800px; /* Optional: Set a max-width for the card */
                          margin: 0 auto;">
        <ul class="nav navbar-nav ">
          <li><a href="../index.html" title="">01 : Home</a></li>
          <li><a href="works.html" title="">02 : Top Works</a></li>
          <li><a href="about.html" title="">03 : About me</a></li>
          <li><a href="hobby.html" title="">04 : Something Interesting</a></li>
          <li><a href="publications.html" title="">05 : Publications</a></li>
          <li><a href="https://drive.google.com/file/d/132eWsR-PLO3JsSiGVV7eE6InSiNcN56s/view?usp=drive_link" target="_blank">06 : CV</a></li>
          <li><a href="contact.html" title="">07 : Contact</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('{{ url_for('static', filename='./assets/images/space3.jpg') }}')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Siddharth Mishra</span>
                  <span>AI Researcher and Gamer.</span>
                  <span>Exploring New Horizons in AI Research and Gaming.</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Spotify alert -->
<div id="spotify"></div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="static/script.js"></script></body>
<script src="js/index.js"></script>


</html>